@import "../../../node_modules/milligram/dist/milligram.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";


@import "../../theme.css";

html, body {
  height: 100%
}

body.container {
  max-width: unset;
  padding: unset;
}

ws-workshop .row {
  height: 100%;
  width: 96%;
}

ws-menu {
  background: var(--color-complement-4);
  padding: 3rem;
  height: 100%;
}

ws-menu h2 {
  color: var(--white);
}

ws-menu button {
  background-color: var(--color-complement-4);
  border: var(--color-complement-4);
  width: 100%;
  text-align: left;
}

ws-menu button:hover {
  background-color: var(--color-complement-2);
  border: var(--color-complement-2);
  color: var(--dark);
  width: 100%;
}

ws-menu ul {
  list-style: none;
}

ws-example h3 pre {
  border-left: 0.3rem solid var(--color-complement-4);
}

#main-content {
  margin-left: 3rem;
}
