@import "../node_modules/milligram/dist/milligram.css";
@import "../theme.css";

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: var(--color-secondary-1-4);
  font-family: sans-serif;
    color: var(--white);
  /*padding-top: 5rem;*/
}



