@import "../node_modules/milligram/dist/milligram.css";

:root {
  --color-primary-0: #E7E392; /* Main Primary color */
  --color-primary-1: #FFFDD7;
  --color-primary-2: #FFFCBE;
  --color-primary-3: #CEC968;
  --color-primary-4: #B2AC3F;

  --color-secondary-1-0: #67A483; /* Main Secondary color (1) */
  --color-secondary-1-1: #AACAB9;
  --color-secondary-1-2: #86B59C;
  --color-secondary-1-3: #49926B;
  --color-secondary-1-4: #2C7E52;

  --color-secondary-2-0: #E7C192; /* Main Secondary color (2) */
  --color-secondary-2-1: #FFEDD7;
  --color-secondary-2-2: #FFE2BE;
  --color-secondary-2-3: #CEA168;
  --color-secondary-2-4: #B27F3F;

  --color-complement-0: #68779B; /* Main Complement color */
  --color-complement-1: #A8B0C3;
  --color-complement-2: #8490AC;
  --color-complement-3: #4D5F8B;
  --color-complement-4: #334678;

  --white: #FFFFFF;
  --black: #000000;
  --dark: #202041;
}

body {
  background: #faffc9;
  color: var(--dark);
  font-family: sans-serif;
  padding-top: 5rem;
}

h1, h3, h5 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.app-section {
  width: 100%;
  margin: 0 auto;
  border-top: var(--dark) solid 1rem;

  padding-top: 2rem;
}

.attribution {
  width: 1rem;
  vertical-align: middle;
}

.logo {
  width: 100%;

}

.logo-section {
  width: 400px;
  margin: 0 auto;
  border: var(--dark) solid 1rem;
}

.main-section {
  width: 400px;
  margin: 0 auto;
}

.feature {

  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1yZWxvYWQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTIwIDEyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8cGF0aCBkPSJNNjAsOTUuNWMtMTkuNTc1LDAtMzUuNS0xNS45MjYtMzUuNS0zNS41YzAtMTkuNTc1LDE1LjkyNS0zNS41LDM1LjUtMzUuNWMxMy42MiwwLDI1LjQ2Nyw3LjcxNCwzMS40MTgsMTloMjIuNjI3DQoJCUMxMDYuOTg0LDIwLjM0Nyw4NS40NjIsMy41LDYwLDMuNUMyOC43OTYsMy41LDMuNSwyOC43OTYsMy41LDYwYzAsMzEuMjAzLDI1LjI5Niw1Ni41LDU2LjUsNTYuNQ0KCQljMTYuMjY0LDAsMzAuOTExLTYuODgyLDQxLjIyMS0xNy44OEw4NS44ODksODQuMjU1Qzc5LjQwNiw5MS4xNjgsNzAuMjAxLDk1LjUsNjAsOTUuNXoiLz4NCjwvZz4NCjxsaW5lIGZpbGw9Im5vbmUiIHgxPSIxMjAiIHkxPSIwIiB4Mj0iMTIwIiB5Mj0iNDUuMzM2Ii8+DQo8bGluZSBmaWxsPSJub25lIiB4MT0iOTEuNDE4IiB5MT0iNDMuNSIgeDI9IjExNC4wNDUiIHkyPSI0My41Ii8+DQo8cG9seWdvbiBwb2ludHM9IjEyMCwyMS44MzIgMTE5Ljk5Miw2OC44NDIgNzQuODI3LDU1LjgxMSAiLz4NCjwvc3ZnPg==');
  background-size: 3rem;
  background-position: top;


  font-size:18px;
  text-align:left;
  height:5rem;
  display: table;
  width: 100%;
}

.feature-label {
  vertical-align:bottom;
  text-align: center;
  display: table-cell;
}
